/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    font-family: 'globalfont','Pretendard-Regular';
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button{
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer;
    font-family: 'globalfont','Pretendard-Regular';
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* root */
:root {
    --unit-fx: calc( var(--vw) / 1440 );
    --unit-fy: calc( var(--vh) / 990 );
    --vw: 100vw;
    --vh: 100vh;
}
/* font */
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'globalfont';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap') format('woff2');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0041-005A,U+0061-007A;
}
@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   unicode-range: U+AC00-D7A3;
}
/* parallax__cont */
.parallax__item {
   width: auto;
   height: 100vh;
   position: relative;
}
/* main */
#header_wrap {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 2;
}
.header_btn {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: calc( 70 * var(--unit-fx));
    padding: calc( 30 * var(--unit-fx)) calc( 60 * var(--unit-fx)) 0;
    transition: all 1.1s cubic-bezier(0.430, 0.195, 0.020, 1.000);
    background: #000;
    z-index: 2;
}
.header_btn.sub_header {
   height: calc( 70 * var(--unit-fx));
   background: transparent;
}
.header_btn.on {
   height: calc( 80 * var(--unit-fx));
}
.header_btn.menu_open {
   height: calc( 50 * var(--unit-fx));
   background: #FF5F38;
}
.header_btn a {
    font-size: calc( 28 * var(--unit-fx));
    color: #88D98D;
}
.header_btn button {
    position: relative;
    font-size: calc( 28 * var(--unit-fx));
    color: #88D98D;
}
.header_btn button:before  {
    content: "";
    display: block;
    height: 1px; 
    width: 100%;
    background: #88D98D;
    position: absolute;
    top: 100%; 
    left: 0;
    will-change: transform;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.header_btn button:hover:before {
    transform: scaleX(1) translateZ(0);
    transform-origin: 0% 0;
}
.menu_wrap {
    transform:translateY(-100%);
    transition: all 1.1s cubic-bezier(0.430, 0.195, 0.020, 1.000);
    background: #FF5F38;
}
.menu_wrap.sub_menu {
    transform:translateY(-135%);
}
.menu_wrap.menu_open {
    transform:translateY(0);
}
.menu_list {
    display: flex;
    justify-content: end;
    padding: calc( 30 * var(--unit-fx)) calc( 60 * var(--unit-fx));
}
.menu_list li {
    line-height: 1.3;
}
.menu_list li a {
    position: relative;
    font-size: calc( 65 * var(--unit-fx));
    color: #0E0E0E;
}
.menu_list li a:before {
    content: "";
    display: block;
    height: 2px; 
    width: 100%;
    background: #000;
    position: absolute;
    top: 100%; 
    left: 0;
    will-change: transform;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.menu_list li a:hover:before {
    transform: scaleX(1) translateZ(0);
    transform-origin: 0% 0;
}
.top_sec {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: calc( 30 * var(--unit-fx));
    font-size: calc( 27 * var(--unit-fx));
}
.top_sec::before {
    content: "";
    display: block;
    height: 1px; 
    width: 0;
    background: currentColor;
    position: absolute;
    top: 100%; 
    left: 0;
    will-change: transform;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.top_sec.on::before {
    transform: scaleX(1) translateZ(0);
    transform-origin: 0% 0;
    width: 100%;
}
.top_sec .l_txt {
    font-size: calc( 54 * var(--unit-fx));
 }
#section1 {
    background: #88D98D;
}
#section1 .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: calc( 140 * var(--unit-fx));
    color: #000;
    white-space: nowrap;
}
#section1 .video {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
#section1 .video video {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
#section2 {
    padding: calc( 45 * var(--unit-fx)) calc( 55 * var(--unit-fx)) 0;
    background: #fff;
}
#section2 .text_ani {
    padding-top:calc( 50 * var(--unit-fx));
    font-size: calc( 50 * var(--unit-fx));
    line-height: 150px;
    font-weight: 500;
}
#section3 {
    padding: calc( 45 * var(--unit-fx)) calc( 55 * var(--unit-fx)) 0;
    background: #56A4FF;
}
#section3 .swiper_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 500px;
}
#section3 .swiper-slide {
    width: auto;
    overflow: hidden;
}
#section3 .swiper-wrapper {
    transition-timing-function: linear;
    align-items: end;
 }
 #section3 .top_sec {
    color: #fff;
 }
 #section3 .swiper-slide > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc( 20 * var(--unit-fx));
 }
 #section3 .company {
    font-size: calc( 25 * var(--unit-fx));
 }
 #section3 .project_name {
    padding-top: calc( 15 * var(--unit-fx));
    font-size: calc( 16 * var(--unit-fx));
    line-height: 1.3;
    font-weight: 500;
 }
 #section3 .data {
    font-size: calc( 12 * var(--unit-fx));
 }
 #section3 .type1 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 251 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .type2 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 127 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .type3 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 179 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .type4 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 145 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .type5 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 263 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .type6 {
    width: calc( 233 * var(--unit-fx));
    height: calc( 127 * var(--unit-fx));
    background: #88D98D;
 }
 #section3 .arrow_link {
   color: #fff;
}
 #section4 {
    padding: calc( 45 * var(--unit-fx)) calc( 55 * var(--unit-fx)) 0;
    background: #000;
}
#section4 .top_sec {
    color: #fff;
 }
 #section4 .contact_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:calc( 110 * var(--unit-fx));
 }
 #section4 .img {
    width:calc( 270 * var(--unit-fx));
 }
 #section4 .img img {
    width:100%;
 }
 #section4 .email {
    padding-top:calc( 20 * var(--unit-fx));
    font-size: calc( 80 * var(--unit-fx));
    color: #fff;
 }
 #section4 .sub_txt {
    padding-top:calc( 60 * var(--unit-fx));
    font-size: calc( 70 * var(--unit-fx));
    font-weight: 600;
    color: #88D98D;
    text-align: center;
 }
 .w_wrap {
    background: #FAF8F3;
 }
 .w_head {
    padding: calc( 150 * var(--unit-fx)) calc( 40 * var(--unit-fx)) calc( 85 * var(--unit-fx)) calc( 40 * var(--unit-fx));
 }
 .w_head h1 {
    font-size: calc( 62 * var(--unit-fx) );
    line-height: 1.07;
    text-align: center;
 }
 .w_contents {
    padding: 0 calc( 40 * var(--unit-fx));
 }
 .w_contents nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc( 60 * var(--unit-fx));
    padding-top: calc( 30 * var(--unit-fx) );
 }
 .w_contents nav button {
    margin:0 5px;
    padding: 5px 15px;
    border-radius: 26px;
    border: solid 1px #000;
    font-size: 16px;
 }
 .w_contents .f_left {
    float: left;
 }
 .w_contents .f_right {
    float: right;
 }
 .w_contents .center {
    margin: 0 auto calc( 49 * var(--unit-fx));
 }
 .w_contents .clear {
    clear: both;
 }
 .w_list {
    overflow: hidden;
 }
 .w_list a {
    display: table;
    margin-bottom: calc( 49 * var(--unit-fx));
 }
 .w_list a:hover .contents_info .text_more {
    opacity: 1;
    transform:translateY(0);
 }
 .w_list a:hover .contents_info .count {
    opacity: 0;
    transform:translateY(-100%);
 }
 .w_list a:hover .contents_info .name::before {
    transform: scaleX(1) translateZ(0);
    transform-origin: 0% 0;
 }
 .w_list .list.wide {
   display: block;
   float: none;
 }
 .w_list .list.wide .contents {
   width: 100%;
   height: calc( 670 * var(--unit-fx));
 }
 .w_list .contents {
    width: calc( 670 * var(--unit-fx));
    height: calc( 670 * var(--unit-fx));
    background: #000;
    overflow: hidden;
 }
 .w_list .contents.red {
   background: #ff2150;
 }
 .w_list .contents.second {
    height: calc( 350 * var(--unit-fx));
 }
 .w_list .contents.third {
    width: calc( 900 * var(--unit-fx));
    height: calc( 400 * var(--unit-fx));
    margin: 0 auto;
 }
 .w_list .contents img {
   object-fit: cover;
   width: 100%;
   height: 100%;
 }
 .w_list .f_left .contents img {
   object-fit: contain;
 }
 .w_list .contents_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc( 10 * var(--unit-fx) );
 }
 .w_list .contents_info .name {
    position: relative;
    line-height: normal;
    font-size: calc( 16 * var(--unit-fx));
    color: #000;
 }

 .w_list .contents_info .name::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 100%;
    left: 0;
    will-change: transform;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
 }
 .w_list .contents_info .number {
    position: relative;
    display: flex;
    justify-content: end;
    min-width: 10em;
    line-height: normal;
    font-size: calc( 16 * var(--unit-fx));
    color: #000;
    overflow: hidden;
 }
 .w_list .contents_info .number .count {
    display: inline-block;
    text-align: right;
    transition: all 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
 }
 .w_list .contents_info .text_more {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 10em;
    transition: all 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 0;
    transform:translateY(100%);
    text-align: right;
}
.w_list .contents_info .icon {
    display: inline-block;
    transform: scaleX(-1);
    font-size: calc( 18 * var(--unit-fx));
}
.s_head {
   position: relative;
   padding-top:calc( 150 * var(--unit-fx));
   padding:calc( 150 * var(--unit-fx)) calc( 40 * var(--unit-fx)) 0;
   background: #FAF8F3;
}
.s_head .title {
   display: inline-block;
   padding:calc( 15 * var(--unit-fx)) calc( 30 * var(--unit-fx));
   border-radius: 50px;
   background: #111;
   color: #fff;
   font-size: calc( 28 * var(--unit-fx));
}
.s_head h1 {
   padding-top: calc( 30 * var(--unit-fx));
   font-size: calc( 60 * var(--unit-fx));
}
.s_head .text {
   padding-top: calc( 30 * var(--unit-fx));
   font-size: calc( 25 * var(--unit-fx));
   line-height: 1.3;
}
.s_head .bar {
   width: 100%;
   height: 1px;
   margin-top: calc( 65 * var(--unit-fx));
   background: #000;
}
.s_head .skill {
   padding:calc( 30 * var(--unit-fx)) 0;
   font-size: calc( 25 * var(--unit-fx));
}
.s_head .do_list {
   font-size: calc( 20 * var(--unit-fx));
}
.s_head .do_list li {
   position: relative;
   padding-left: calc( 10 * var(--unit-fx));
   line-height: 1.3;
}
.s_head .do_list li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(0 -50%);
   width: calc( 4 * var(--unit-fx));
   height: calc( 4 * var(--unit-fx));
   border-radius: 100%;
   background: #000;
}

.s_contents {
   background: #FAF8F3;
}
.s_contents .s_info {
   display: flex;
   align-items: start;
   justify-content: space-between;
   padding:calc( 210 * var(--unit-fx)) calc( 40 * var(--unit-fx)) calc( 85 * var(--unit-fx));
}
.s_contents .s_info .title {
   width: calc( 230 * var(--unit-fx));
   font-size: calc( 24 * var(--unit-fx));
}
.s_contents .s_info .text {
   width: calc( 555 * var(--unit-fx));
   font-size: calc( 24 * var(--unit-fx));
   line-height: 1.5;
}
.s_contents .link {
   display: block;
   margin: 5em 0;
   text-align: center;
   color: #000;
}
.s_contents .link .text::before {
   content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 100%;
    left: 0;
    will-change: transform;
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.s_contents .link .text:hover::before {
   transform: scaleX(1) translateZ(0);
   transform-origin: 0% 0;
}
.s_contents .link .icon,
.s_contents .link .text {
   position: relative;
   display: inline-block;
   font-size: calc( 24 * var(--unit-fx));
}
.s_contents .img_box {
   padding-top: calc( 170 * var(--unit-fx));
   text-align: center;
   background: #111;
}
.s_contents .img_box > div {
   padding-bottom: calc( 170 * var(--unit-fx));
}
.s_contents .img_box .half {
   width: 80%;
   margin: 0 auto;
}
.s_contents .img_box .half video {
   width: inherit;
}
.arrow_link {
   color: #000;
}
.arrow_link .icon {
   display: inline-block;
   transform: scaleX(-1);
}
.arrow_link .text {
   display: inline-block;
   position: relative;
}
.arrow_link .text::before {
   content: "";
   display: block;
   height: 1px;
   width: 100%;
   background: currentColor;
   position: absolute;
   top: 100%;
   left: 0;
   will-change: transform;
   transform: scaleX(0) translateZ(0);
   transform-origin: 100% 0;
   transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.arrow_link .text:hover::before {
   transform: scaleX(1) translateZ(0);
   transform-origin: 0% 0;
}
.btn_grid.is_active {
   background: #111;
   color: #fff;
}
.about_head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:0 calc( 40 * var(--unit-fx));
}
.about_head .grid_wrap {
   width: 24%;
   margin: 0 0;
}
.about_head .grid_wrap div {
   width: 100%;
   height: calc( 170 * var(--unit-fx));
   margin-bottom: calc( 20 * var(--unit-fx));
   background: #56A4FF;
   overflow: hidden;
}
.about_head .grid_wrap img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about_head .grid_01,
.about_head .grid_03 {
   transform: translateY(-135px);
}
.about_head .grid_wrap .bg_about {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 100%;
}
.about_head .grid_01 .bg01 {
   background-image: url("../img/about_thum_01.jpg");
}
.about_head .grid_01 .bg02 {
   background-image: url("../img/about_thum_02.svg");
   background-size: auto;
   background-position: center;
}
.about_head .grid_01 .bg03 {
   background-image: url("../img/about_thum_03.svg");
}
.about_head .grid_01 .bg04 {
   background-image: url("../img/about_thum_04.svg");
}
.about_head .grid_02 .bg05 {
   background-image: url("../img/about_thum_05.svg");
}
.about_head .grid_02 .bg06 {
   background-image: url("../img/about_thum_06.svg");
}
.about_head .grid_02 .bg07 {
   background-image: url("../img/about_thum_07.svg");
}
.about_head .grid_02 .bg08 {
   background-image: url("../img/about_thum_08.svg");
}
.about_head .grid_03 .bg09 {
   background-image: url("../img/about_thum_09.svg");
}
.about_head .grid_03 .bg10 {
   background-image: url("../img/about_thum_10.svg");
}
.about_head .grid_03 .bg11 {
   background-image: url("../img/about_thum_11.svg");
}
.about_head .grid_03 .bg12 {
   background-image: url("../img/about_thum_12.svg");
}
.about_head .grid_04 .bg13 {
   background-image: url("../img/about_thum_13.svg");
}
.about_head .grid_04 .bg14 {
   background-image: url("../img/about_thum_14.svg");
}
.about_head .grid_04 .bg15 {
   background-image: url("../img/about_thum_15.svg");
}
.about_head .grid_04 .bg16 {
   background-image: url("../img/about_thum_16.svg");
}
.about_contents {
   margin-top: calc( 180 * var(--unit-fx));
   padding:0 calc( 40 * var(--unit-fx));
}
.about_contents h1 {
   margin-bottom: calc( 30 * var(--unit-fx));
   font-size: calc( 80 * var(--unit-fx));
}
.about_contents .text {
   margin-bottom: calc( 30 * var(--unit-fx));
   font-size: calc( 30 * var(--unit-fx));
   line-height: 1.5;
}
.about_contents .skill_list {
   display: flex;
   align-items: baseline;
   padding-bottom: calc( 30 * var(--unit-fx));
}
.about_contents .skill_list li {
   width: calc( 100 * var(--unit-fx));
   height: calc( 100 * var(--unit-fx));
   margin-right: calc( 20 * var(--unit-fx));
   overflow: hidden;
}
.about_contents .skill_list img {
   width: inherit;
   height: inherit;
}
.contact_section {
   margin-top:calc( 150 * var(--unit-fx));
}
/* mobile */
@media only screen and (max-width: 767px) {
   :root {
      --unit-fx: calc( var(--vw) / 375 );
      --unit-fy: calc( var(--vh) / 726 );
   }
   main {
      overflow: hidden;
   }
   .header_btn {
      height: calc( 70 * var(--unit-fx));
      padding: calc( 10 * var(--unit-fx)) calc( 30 * var(--unit-fx));
      align-items: center;
   }
   .header_btn a {
      font-size: calc( 25 * var(--unit-fx));
   }
   .header_btn button {
      font-size: calc( 25 * var(--unit-fx));
   }
   #section2 .text_ani {
      font-size: calc( 25 * var(--unit-fx));
      line-height: 1.5;
   }
   .header_btn.on {
      height: calc( 70 * var(--unit-fx));
   }
   #section3 .type1 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .type2 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .type3 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .type4 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .type5 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .type6 {
      width: auto;
      height: calc( 300 * var(--unit-fx));
   }
   #section3 .swiper_wrap {
      position:absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
   }
   #section3 .company {
      font-size: calc( 30 * var(--unit-fx));
   }
   #section3 .project_name {
      font-size: calc( 25 * var(--unit-fx));
   }
   #section3 .data {
      font-size: calc( 24 * var(--unit-fx));
   }
   .s_head .title {
      font-size: calc( 25 * var(--unit-fx));
   }
   .s_head h1 {
      font-size: calc( 25 * var(--unit-fx));
   }
   .s_head .text {
      font-size: calc( 20 * var(--unit-fx));
   }
   .s_head .bar {
      margin-top: calc( 30 * var(--unit-fx));
   }
   .s_head .skill {
      padding: calc( 25 * var(--unit-fx)) 0;
      font-size: calc( 20 * var(--unit-fx));
   }
   .s_contents .img_box {
      padding-top: calc( 50 * var(--unit-fx));
   }
   .s_contents .img_box > div {
      padding-bottom: calc( 50 * var(--unit-fx));
   }
   .s_contents .img_box .half {
      width:100%;
      transform: scale(3);
      margin-top: calc( 290 * var(--unit-fx));
      padding-bottom: calc( 115 * var(--unit-fx));
   }
   .s_contents .img_box img {
      width: 100%;
   }
   .menu_list {
      height: 100vh;
      padding: calc( 200 * var(--unit-fx)) calc( 20 * var(--unit-fx)) 0;
      justify-content: start;
   }
   .menu_list li a {
      font-size: calc( 40 * var(--unit-fx));
   }
   #section1 .title {
      font-size: calc( 40 * var(--unit-fx));
   }
   #section2,
   #section3,
   #section4 {
      padding: calc( 20 * var(--unit-fx)) calc( 15 * var(--unit-fx)) 0;
   }
   .top_sec {
      padding-bottom: calc( 20 * var(--unit-fx));
      font-size: calc( 10 * var(--unit-fx));
   }
   .top_sec .l_txt {
      font-size: calc( 20 * var(--unit-fx));
   }
   .arrow_link .text {
      font-size: calc( 20 * var(--unit-fx));
   }
   .arrow_link .icon {
      font-size: calc( 20 * var(--unit-fx));
   }
   #section4 .img {
      width: calc( 150 * var(--unit-fx));
   }
   #section4 .email {
      font-size: calc( 30 * var(--unit-fx));
   }
   #section4 .sub_txt {
      font-size: calc( 60 * var(--unit-fx));
   }
   .w_head {
      padding: calc( 100 * var(--unit-fx)) calc( 15 * var(--unit-fx)) 0
   }
   .w_head h1 {
      font-size: calc( 30 * var(--unit-fx));
   }
   .w_contents {
      padding: calc( 20 * var(--unit-fx)) calc( 15 * var(--unit-fx));
   }
   .w_contents nav {
      margin-bottom: calc( 30 * var(--unit-fx));
   }
   .w_contents .f_left,
   .w_contents .f_right {
      width: 49%;
   }
   .w_list a {
      display: block;
      margin-bottom: calc( 30 * var(--unit-fx));
   }
   .w_contents .f_left .contents {
      height: calc( 150 * var(--unit-fx));
   }
   .w_list .contents {
      width: 100%;
      height: inherit;  
   }
   .w_list .contents_info .number {
      min-width: 4em;
   }
   .w_contents .f_left .w_list .contents {
      height: calc( 170 * var(--unit-fx));
   }
   .w_list .contents.second {
      height: calc( 200 * var(--unit-fx));
   }
   .w_list .contents img {
      object-fit: contain;
   }
   .w_list .contents.third {
      width: 100%;
      height: calc( 200 * var(--unit-fx));
   }
   .w_list .list.wide {
      width: 100%;
      height: calc( 200 * var(--unit-fx));
      margin-bottom: calc( 40 * var(--unit-fx));
   }
   .w_list .list.wide .contents {
      height: calc( 200 * var(--unit-fx));
   }
   .s_head {
      padding: calc( 100 * var(--unit-fx)) calc( 15 * var(--unit-fx)) 0
   }
   .about_head {
      padding: 0 calc( 15 * var(--unit-fx))
   }
   .about_contents {
      margin-top: calc( 50 * var(--unit-fx));
      padding: 0 calc( 15 * var(--unit-fx));
   }
   .about_contents h1 {
      font-size: calc( 35 * var(--unit-fx));
   }
   .about_contents .text {
      font-size: calc( 20 * var(--unit-fx));
   }
   .about_contents .skill_list li {
      width: calc( 70 * var(--unit-fx));
      height: calc( 70 * var(--unit-fx));
   }
   .contact_section {
      margin-top: calc( 30 * var(--unit-fx));
   }
}